# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/secrets.yml
/config/credentials.yml.enc

# Ignore coverage
coverage

# rspec
/spec/examples.txt

# env files
*.development
*.test
.env

# debug
.byebug_history

# node / yarn / assets
# /public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
